{% extends 'admin/model/edit.html' %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<div ng-app="referenceApp" ng-controller="referenceController">
{{ super() }}
<form ng-submit="getReference()" class="form-inline">
    <input type="text" ng-model="doi"  size="30"
           placeholder="DOI">
    <input class="btn" type="submit" value="get reference">
    <i class="fa" ng-class="loading"></i>
</form>
</div>
{% endblock body %}
{% block tail %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
    var app = angular.module('referenceApp', []);
    app.controller('referenceController', ['$scope', '$http', function($scope, $http){
        $scope.reference = '{{ form.reference.data or '' }}';
        $scope.refID = '{{ form.ref_id.data or '' }}';
        $scope.doi = '';
        $scope.loading = '';

        $scope.getReference = function() {
            $scope.loading = 'fa-spinner fa-spin';
            $http.post('/admin/getref', {'doi': $scope.doi})
            .then(function(response) {
                $scope.reference = response.data.reference;
                $scope.refID = response.data.id;
                $scope.loading = '';
            });
        };
    }]);
    </script>
{% endblock %}