{% extends 'admin/model/edit.html' %}
{% block head %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
{% endblock %}
{% block body %}
<div ng-app="referenceApp" ng-controller="referenceController">
{{ super() }}
{% raw %}
<form ng-submit="getReference()" class="form-inline">
    <input type="text" ng-model="doi" placeholder="DOI">
    <input class="btn" type="submit" value="get reference" ng-disabled="invalidDOI()">
    <i class="fa fa-spinner fa-spin" ng-show="loading"></i>
    <div ng-show="invalidDOI()" class="control-group error"><span class="help-inline">Invalid DOI</span></div>
</form>
{% endraw %}
</div>
{% endblock body %}
{% block tail %}
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.4/angular.min.js"></script>
    <script>
    var app = angular.module('referenceApp', []);
    app.controller('referenceController', ['$scope', '$http', function($scope, $http){
        $scope.reference = '{{ form.reference.data or '' }}';
        $scope.refID = '{{ form.ref_id.data or '' }}';
        $scope.doi = '';
        $scope.loading = false;

        $scope.getReference = function() {
            $scope.loading = true;
            $http.post('/getref', {'doi': $scope.doi})
            .then(function(response) {
                $scope.reference = response.data.reference;
                $scope.refID = response.data.id;
                $scope.loading = false;
            }, function(response){
                $scope.loading = false;
                alert(response.data.error);
            });
        };

        $scope.invalidDOI = function(){
            return !$scope.doi.match(/^10\.\S+$/gi);
        };
    }]);
    </script>
{% endblock %}