<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

      <link rel=stylesheet href="{{ theme_static('css/loadphp.css') }}?action=raw&ctype=text/css">
      <link rel=stylesheet href="{{ theme_static('css/bootstrap.css') }}?action=raw&ctype=text/css">
      <link rel=stylesheet href="{{ theme_static('css/font-awesome.css') }}?action=raw&ctype=text/css">
      <link rel=stylesheet href="{{ theme_static('css/wiki.css') }}?action=raw&ctype=text/css">
      <link rel=stylesheet href="{{ theme_static('css/timeline.css') }}?action=raw&ctype=text/css">
      <link rel=stylesheet href="{{ theme_static('css/menufix.css') }}?action=raw&ctype=text/css">

    <script type="text/javascript" src="{{ theme_static('js/jquery.js') }}?action=raw&ctype=text/javascript"></script>
    <script type="text/javascript" src="{{ theme_static('js/bootstrap.js') }}?action=raw&ctype=text/javascript"></script>
    <script type="text/javascript" src="{{ theme_static('js/jquery.easing.js') }}?action=raw&ctype=text/javascript"></script>
    <script type="text/javascript" src="{{ theme_static('js/wiki.js') }}?action=raw&ctype=text/javascript"></script>

    <!-- MathJax (LaTeX for the web) -->
    <script src="http://2015.igem.org/common/MathJax-2.5-latest/MathJax.js?config=TeX-AMS-MML_SVG"></script>
    
  </head>
  <body data-spy="scroll" data-target="#scrollspy" data-offset="90">
    <div id="fb-root"></div>
    <script>(function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/da_DK/all.js#xfbml=1&version=v2.4";
      fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>