{% extends 'admin/base.html' %}
{% import 'wtf.html' as wtf %}

{% block access_control %}
<ul class="nav pull-right">
  {% if config.NAMESPACE %}
  <li>
      <a href="{{ url_for('wiki', namespace=config.NAMESPACE) }}">Team main page</a>
  </li>
  {% endif %}
  {% if current_user.is_authenticated() %}
  <li class="dropdown">
    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
      <i class="icon-user"></i>
        {{ current_user.username }}
        <span class="caret"></span></a>
    </a>
    <ul class="dropdown-menu">
      <li><a href="{{ url_for('admin.logout_view') }}">Log out</a></li>
    </ul>
  </li>
</ul>
{% endif %}
{% endblock %}