{% extends 'admin/model/edit.html' %}


{% block head %}
<style type="text/css" media="screen">
#editor {
  margin-left: 15px;
  margin-top: 15px;
  width: 1000px;
  height: {{ 35*16 }}px;
}
</style>
    {{ super() }}
{% endblock %}

{% block tail %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/ace/1.2.0/ace.js" type="text/javascript" charset="utf-8"></script>
    <script>
        $('textarea[name="content"]').parent().append('<div id="editor">}</div>');
        var editor = ace.edit("editor");
        editor.setTheme("ace/theme/dawn");
        editor.getSession().setTabSize(2);
        editor.getSession().setUseWrapMode(true);
        var textarea = $('textarea[name="content"]').hide();
        editor.getSession().setValue(textarea.val());
        editor.getSession().on('change', function(){
          textarea.val(editor.getSession().getValue());
        });
    </script>
{% endblock %}

