{% extends theme('sections/section.html') %}
{% block content %}
{{ super() }}
{% for member in entities if member.role and member.role.lower() == 'member' %}
    {% if loop.index0 % 2 == 0 %}
    <div class="row">
        <div class="col-md-12">
        <h3>{{ member.name }}</h3>
        </div>
        <div class="col-md-2">
            <img src="{% if member.image %}{{ url_for('static', filename=member.image) }}{% else%}http://placehold.it/100{% endif %}" class="img-rounded" style="width: 100px;">
        </div>
        <div class="col-md-10">
            {{ member.description | safe }}
        </div>
    </div>
    {% else %}
    <div class="row">
        <div class="col-md-12">
        <h3 class="text-right">{{ member.name }}</h3>
        </div>
        <div class="col-md-10">
            {{ member.description | safe }}
        </div>
        <div class="col-md-2">
            <img src="{% if member.image %}{{ url_for('static', filename=member.image) }}{% else%}http://placehold.it/100{% endif %}" class="img-rounded" style="width: 100px;">
        </div>
    </div>
    {% endif %}
{% endfor %}
{% endblock %}